/*2*/
body {
    background-color: blue;
}
/*this styles everything within the css-classes class*/
.css-classes {
    background-color: lightgray;
}

/*this styles all the p tags within the css-classes class*/
.css-classes h1{
    font-size: 18px; color:red;
}

.css-classes h3{
    color:orange; font-size: 24px;
}

.css-classes p{
    font-size: 16px;
    color: green;
}

/*this styles all the li items within the css-classes class*/
.css-classes li{
    color: navy;
}