.wrapper{
    margin: 5px;
}

/* 3 */
h1{
    text-align: center;
}
/*this sets the background color of the entire body*/
body{
    background-color:lightgray;
}

/* 4 */
.background1{
    background-color: lightblue;
    padding: 20px;
}

/* 5 */
.background2{
background-image:url("../4-assets/upfeathers.png");
padding: 10px;
}

/* 7 */
table, th, td{
    border: 1px solid black;
    padding: 5px;
}